(logging/init {:file "riemann.log"})
(tcp-server {:host "0.0.0.0"
             :port 5554
             :tls? true
             :key "riemann_server.key"
             :cert "riemann_server.crt"
             :ca-cert "ca.crt"})

(instrumentation {:interval 1})

(periodically-expire 1)

(let [index (tap :index (index))]
  (streams
    (default :ttl 3
      (expired #(prn "Expired" %))
      (where (not (service #"^riemann "))
             index))))
